@{
    ViewBag.Title = "Home Page";
}

<div id="Intro" class="center">
    <h1 style="font:x-large">World Wide Importers</h1>
    <br />
    <p>
        World Wide Importers is a company dedicated to improving society. We will allow people to
        search for people in order to find certain information about them. The link for this search is found
        here: @Html.ActionLink("Search Page", "Search", "Home").
    </p>
</div>

