body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.center {
    text-align: center;
}

input {
    width: 85%;
    height: 30px;   
    border-radius: 10px;
}

#home {
    color: darkturquoise;
}