
@{
    ViewBag.Title = "Thank You";
    ViewBag.MainR = "active";
}

<div class="center" id="Intro">
    <h1>@ViewBag.Title</h1>
    <p>
        Your request has been submitted. We will be there in the next couple of days to fix the problem. If there is anything else
        you need from us please submit another form using the button below or give us a call at 1(800) 1-CAMPUS.
    </p>
</div>
<br />
<div class="center">
    <p><a class="btn btn-default" @Html.ActionLink("Submit Another", "Create", "Requests")</a></p>
</div>

