body {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: lightgray;
    margin: 15px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    margin: 15px;
    padding: 30px;
    border-radius: 15px;    
    background-color: gray;
}

.center {
    text-align: center;
    align-content: center;
}

.container-fluid {
    padding: 30px;
    color: white;
}

.container {
    background-image: url(Images/blue-rough.jpg);
    padding: 0px;
    margin: 0px;
}