/*The main part of the page*/
body {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    color: #08262F;
}

/*The first 'container'*/
.jumbotron {
    margin: 15px;
    padding: 30px;
    border-radius: 15px;
    background-color: #08262F;
}

/*The picture*/
.container {
    background-image: url(Images/blue-cyber.jpg);
    background-size: 1000px 500px;
    color: whitesmoke;
    min-height: 400px;
}

/*The extra padding in between stuff in the picture*/
.container-fluid {
    padding: 15px;
}

/*Center things!*/
.center {
    text-align: center;
    align-content: center;
}

/*Buttons*/
button {
    color: #08262F;
    background-color: #0F9ABA;
    border-radius: 5px;
    border-color: #08262F;
    border-style: double;
    border-width: 5px;
}
    button:hover {
        color: #0F9ABA;
        background-color: #08262F;
        border-radius: 5px;
        border-color: #0F9ABA;
        border-style: double;
        border-width: 5px;
    }

.btn {
    width: inherit;
    color: #08262F;
    background-color: white;
    border-radius: 5px;
    border-color: #08262F;
    border-style: double;
    border-width: 5px;
}

    .btn:hover {
        width: inherit;
        color: white;
        background-color: #08262F;
        border-radius: 5px;
        border-color: white;
        border-style: double;
        border-width: 5px;
    }

/*Text*/