body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#Intro {
    border: 5px double black;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: darkred;
    color: white;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.center {
    text-align: center;
    font: large Book Antiqua;
}

table {
    font-family: 'Book Antiqua';
    padding: 5px;
    border: 5px solid darkred;
    text-align: center;
}

th {
    padding: 10px;
    border: 2.5px solid darkred;
    align-content: center;
}

td {
    padding: 10px;
    border: 2.5px solid darkred;
    align-content: center;
}

h2 {
    color: darkred;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}