body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: beige;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.center {
    text-align: center;
    align-content: center;
}

li {
    font-family: Georgia, serif;
}

able {
    font-family: Georgia, serif;
    padding: 5px;
    border: 5px solid black;
    width: 100%;
}

th {
    padding: 10px;
    border: 2.5px solid black;
    align-content: center;
    text-align: center;
}

td {
    padding: 10px;
    border: 2.5px solid black;
    align-content: center;
    text-align: center;
}
