@{
    ViewBag.Title = "Custom 400 Page";
}

<div class="content">
    <h2>Error Page 400</h2>
    <h3>Oopsie, an error has occurred and we apologize for the inconvenience.  Please go back to the homepage and try again.</h3>
    <h6>@Html.ActionLink("Back to the Homepage", "Index", "Home")</h6>
</div>
