@{
    ViewBag.Title = "Custom Error Page";
}

<div class="content">
    <h2>Error Page</h2>
    <h3>Ah Ah Ah, you didn't say the magic word, Ah Ah Ah!! Seems like you clicked or entered something invalid, please try again. </h3>
    <h6>@Html.ActionLink("Back to the Homepage", "Index", "Home")</h6>
</div>
