@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <div class="center">
                <h2>New to this ATM?</h2>
                <h3>SOMETHING GOES HERE!</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="center">
                <h2>Already a member?</h2>
                <h3>Please input your pin.</h3>
                <!---->
                <input type="number" min="0000" max="99999999" /> 
            </div>
        </div>
    </div>
</div>