@model ATMProject.Models.User

@{
    ViewBag.Title = "Withdrawl";
}

<br /><br />

<div class="container-fluid">
    <div class="center">
        <h2>Make a Withdrawl</h2>
        <h3>@ViewBag.Error</h3>
    </div>
</div>
<form method="post">
    <div class="row">
        <div class="center">
            <h3>@ViewBag.MoneyError</h3>
        </div>
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="center">
                    <h2>Select the account</h2>
                    <select name="account" style="width: 200px;">
                        <option value="check">Checking</option>
                        <option value="save">Savings</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="center">
                    <h2>Amount to Withdrawl</h2>
                    <input name="amount" type="number" min="0.01" step="0.01" style="width: 200px;" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <div class="center">
                <button type="submit">Submit</button>
                <button type="button" onclick="location.href='@Url.Action("Account", "Home", new { pin = Model.PIN})'">Go Back</button>
            </div>
        </div>
    </div>
    @Html.Hidden(Model.PIN)
</form>