
@{
    ViewBag.Title = "Mission";
}
<div class="container">
    <div class="jumbotron">
        <div class="mx-auto d-block" align="center">
            <h2><u>Mission Statement</u></h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="@Url.Content("~/Content/Images/logo.png")" style="width:210px; height:170px" />
            </div>
            <div class="col-md-6" style="text-align:center">
                <h4>
                    As the founders of <i>ReadyGO-Travel</i>, our goal is to provide fast and efficient travel budget information.
                    Our intention is to guide those who are wanting to travel affordably, expenditure guidance so that they can plan ahead and pursue their dream destination.
                </h4>
            </div>
            <div class="col-md-3">
                <img src="@Url.Content("~/Content/Images/logo.png")" style="width:210px; height:170px" />
            </div>
        </div>
        </div>
    </div>

